footer {
    align-items: center;
    background-color: #ffffff;
    border-top: 2px solid #ddd;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 6px;
    position: fixed;
    width: 100vw;
    z-index: 999;
}