.internals-list {
    align-items: baseline;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: left;
    margin: 0 auto;
    width: 90vw;
}
.internal-card {
    align-items: center;
    border: 1px solid #000000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    width: 350px;
}
.internal-info {
    min-height: 415px;
    width: 100%;
}
.internal-header {
    background: #000000;
    color: #ffffff;
    font-size: 18px;
    line-height: 2;
    text-align: center;
}
.internal-roll {
    display: flex;
    padding: 6px 15px;
}
.dice-set {
    align-items: center;
    display: flex;
    gap: 18px;
    justify-content: flex-start;
    margin: 12px;
}
.roll-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}
span.roll-total-number {
    font-size: 32px;
    font-weight: bold;
}
.internal-result {
    display: flex;
    flex-direction: column;
    margin: 12px 12px 24px;
    padding: 0 15px;
}
.internal-result-name {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 6px;
    text-align: center;
}
.rule-of-three {
    background: rgba(255,0,0,0.3);
    border-radius: 6px;
    border: 1px solid #f00;
    font-size: 14px;
    margin: 12px 24px;
    text-align: center;
}
.internal-info-additional {
    font-size: 12px;
    margin-top: 12px;
}
.may-include {
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px
}
.rule-intro {
    font-weight: 700;
}
.internal-card-disclaimer {
    font-style: italic;
}

.internal-card-button-set {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 0 24px;
    padding: 0 24px;
    width: 100%;
}